* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//********************************************************/
//* Variable Usage
//********************************************************/
$bgColor: pink;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;

//********************************************************/ //* Variable Usage
//********************************************************/
body {
  font-family: $fontFamily;
  background-color: $bgColor;
  font-size: $fontSize;
  color: $fontColor;
}

//****************** HEADER ******************/
header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      display: 0.5rem;
      //! içinde bulundğumuz elementi refere etmek için & işareti kullanılır.
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a {
    color: $fontColor;
    text-decoration: none;
  }
}

//************** BANNER ***************/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerBgColor;
  padding: 1rem;
  line-height: 2rem;
  aside {
    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $navBgColor;
      margin-top: 1rem;
      margin-right: 0.5rem;
      &:hover {
        background-color: pink;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
  img {
    width: 30%;
    min-width: 250px;
    max-width: 400px;
  }
}

//************** CARDS ***************/

@mixin myBox($backColor, $color) {
  background-color: $backColor;
  color: $color;
  width: 25%;
  height: 15rem;
  border: $myBorder;
  border-radius: 5px;
}

.cards {
  display: flex;
  gap: 0.5rem;
  padding: 0.8rem;
  .card1 {
    @include myBox(green, white);
  }
  .card2 {
    @include myBox(brown, white);
  }
  .card3 {
    @include myBox(yellow, black);
  }
  .card4 {
    @include myBox(rgb(40, 33, 56), white);
  }
}
